
/*general
--------------------------------------------------------------*/
html{
    font-size: 100%;
}

body{
    font-family: "kozuka-gothic-pr6n", 'ヒラギノ角ゴ ProN W3',"Meiryo",'Philosopher', sans-serif;
    line-height: 1.7;
    color: #ffffff;
    background-color: #000C3E;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.general-box {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*--------------------------------------------------------*/


/* HEADER 
----------------------------------------------------------*/

.logo {
    width: 70px;
    margin-top: 6px;
}


.top-header {
    display: flex;
    justify-content: space-between;
    background-color: #00E5BE;
    margin:0 auto;
    padding: 0 4%;
    max-height: 12vh;
}

.menu-nav {
    display: flex;
    margin-top: 3.5vh;
    font-size: 1.2rem;
    list-style: none
}

.menu-nav li {
    margin-left: 1.2rem;
    color: #ffffff;
}

.menu-nav a {
    color: #000C3E;
}

.menu-nav a:hover {
    color: #ffffff;
}


/*---------------------------------------------------------------*/

/* HOME
-----------------------------------------------------------------*/

/* HOME first view */
.home-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    /*background-image: url(../images/Screenshot_20190626-105043@2x.png);*/
    min-height: 80vh;
}

.home-hexname {
    position: relative;
    z-index: 0;
    top:20vh;
    min-height: 50vh;
    display: block;
    margin: 10vh;
    padding: auto;
    text-align: center;
    background-image: url(../images/HEX.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
}

.hexname-content{
    position: absolute;
    z-index: 50;
    top: 12vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.home-hexname p{
    color: #000000;
    font-size: 2.5rem;
    margin:0;
}

.home-hexname span{
    font-size: 0.5em;
    border-top: 1px rgba(0, 0, 0, 0.5) solid;
    padding-top: 6px;
}

#video-bg {
    position: absolute;
    top:55px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height: auto;
    z-index:-50;
    justify-content: cover;
    background: url(../images/Screenshot_20190626-105043@2x.png) no-repeat;
    background-size: cover;
    filter: blur(8px) brightness(60%);
}

.video-bg-wrap {
   /* border-bottom: #00E5BE 5px solid; */
}


.button{
    font-size: 1.375rem;
    background: #000C3E;
    color: #ffffff;
    border-radius: 5px;
    padding: 18px 32px;
    text-decoration: none;
    border: 2px #ffffff solid;
    text-align: center;
    width:55vh;
    margin:54vh auto 20vh auto;
}

.button a{
    color: #ffffff;
}

.button:hover{
    background: #00166d;
}

/* home contents */

.home-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(55vh,1fr));
    padding: 10vh;
    border-top: 2px #00E5BE solid;
}

.content {
    object-fit: cover;
    width: 55vh;
    height: 50vh;
}

/* 0627 1200 ここまで！！！　画像の規格合わせるか　小さい箱用意して自動トリミングされるようにしないとだめかも */
  /* ↑とりあえず後回しにします　優先順位はtop動画化の次*/


/* social box */

.social-box {
    display: flex;
    justify-content: center;
    border-bottom: 2px #00E5BE solid;
}

.sns-box {
    width:9vh;
    margin: 4vh;
}

.sns-box img{
    filter: brightness(200%);
}



/* FOOTER
---------------------------------------------------------------------*/

footer{
    text-align: center;
    padding: 26px 0;
   
}
footer p{
    color: #9090a0;
    font-size: 0.875rem;
}



/* Mobile 
------------------------------------------------------------------------*/

/* HOME */
@media (max-width: 600px){
    .hexname-content {
        top:22vh;
    }

    .hexname-content p{
        font-size:0.6rem;
    }











}









